:root{
  --mainGreen:#009666;
  --lightGreen:#9fc;
  --mainBlue:#06f;
  --lightBlue:#09f;
  --mainWhite:white;
  --mainDark:#663;
  --mainYellow:#fc0;
}
body{
  font-family: 'PT Sans Narrow', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.title-text{
  font-family: 'Anton', sans-serif !important;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue) !important;
}